<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>BitcoinRate</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
<div id="app">
    <!-- Bitcoin価格の表示 -->
    <h2>
        Bitcoin Price
    </h2>

    <section v-if="hasError">
        Error .
    </section>

    <section v-else>
        <div v-if="loading">
            Loading...
        </div>

        <div v-false>
            <!-- v-cloak・・・マスタッシュのチラツキ防止 -->
            <ul v-cloak>
                <li v-for="(rate, currency) in bpi">
                    {{ currency }} : {{ rate.rate_float | currencyDecimal }}
                </li>
            </ul>
        </div>


    </section>



</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
<script src="./js/main.js"></script>
</body>
</html>